

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica;
}

section {
    margin: 20px auto;
    width: 400px;
    padding: 30px;
    border: 2px solid #1e1e1e;
}

img {
    float: left;
    width: 200px;
    margin: 10px 10px 0 0;
}