
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 100%;
}

section {
    background: lightblue url("https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

.intro h1 {
    font-size: 50px;
}

.intro p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    line-height: 140%;
    margin-top: 10px;
}