
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f1f1f1;
    color: #1e1e1e;
}

section {
    width: 400px;
    margin: 50px auto;
    padding: 50px;
    box-shadow: 0 10px 50px rgba(30, 30, 30, 0.1);
    background: #fcfcfc;
    border-radius: 10px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}
fieldset {
    border: none;
    margin-bottom: 1rem;
}

#form label, p {
    display: block;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0.5rem;
}   

#form input, textarea {
    font-size: 18px;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border-radius: 5px;
}

#form input[type="text"], #form input[type="password"], #form textarea {
    width: 100%;
    padding: 5px 10px;
}

#form input[type="text"] {
    margin-bottom: 0.5rem;
}

#form textarea {
    resize: vertical;
    margin-bottom: 1rem;
}

#form textarea, #form input[type="file"] {
    width: 100%;
}

#form input[type="reset"], #form input[type="submit"] {
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

#form input[type="reset"] {
    width: calc(50% - 5px);
    background: #e84242;
}

#form input[type="submit"] {
    background: #11b560;
    width: calc(50% - 5px);
    float: right;
    margin-left: 10px;
}